*{
    background-color: #2D7132;
    font-family: Arial, Helvetica, sans-serif;
}

.container-main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-main-image img {
    width: 350px;
    height: 350px;
}

.login {
    color: white;
    position: relative;
    padding: 50px;
    text-align: center;
}