*{
    background-color: #467048;
}

.container-main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



 .container p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: 300px;
}

.container-main-image img {
    width: 350px;
    height: 350px;
}