*{
    background-color: #467048;
}

.container-main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-main-image p {
    color: white;
    font-size: 24px;
    margin-top: 0px;
}

.container-main-image img {
    width: 350px;
    height: 350px;
}