* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2D7132;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*---- IMAGEM PRINCIPAL STYLE ----*/

.container-main-image img {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
}

/*---- FORMULARIO STYLE ----*/

.container-form {
    width: 518px;
    height: 425px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-form .btn {
    width: 75%;
    height: 20%;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
}

.btn-resend {
    background-color: white;
    color: #2D7132;
    border: 1px solid #2D7132;
}

.btn-resend:hover {
    background-color: #032221;
    color: white;
}

.btn-send {
    background-color: #2D7132;
    color: white;
    border: 2px solid transparent;

}

.btn-send:hover {
    background-color: #032221;
}

.sucess-message {
    width: 285px;
    height: 800px;
    background-color: #CDFFF3;
    border-radius: 30px;
    border: 1px solid #2D7132;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto 20px;
}

.sucess-message h1 {
    font-size: 20px;
}

.sucess-message p {
    font-size: 15px;
}

p{
    font-size: 10px;
    color: black;
}

/*---- MEDIA QUERIES STYLE ----*/

@media (max-width: 768px) {

    .container-main-image img {
        width: 250px;
        height: 250px;
        margin-bottom: 60px;
    }

    .container-form {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .container-primary-text {
        font-size: 12px;
        margin-bottom: -10px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .container-form button {
        width: 80%;
        height: 10%;
        margin-top: 180px;
    }
}