* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2D7132;
    min-height: 100vh;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: auto;
    padding: 6px 18px;
    gap: 24px;
}


.container-main-image img {
    width: 240px;
    height: 240px;
}


.container-form {
    width: 520px;
    max-width: 92%;
    height: auto;

    background: #fff;
    padding: 36px;
    border-radius: 12px;
}

.container-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.container-form-inputs input {
    height: 42px;
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #A8FCE9;
    border-radius: 42px;
    font-size: 15px;
}

.input-name {
    display: flex;
    gap: 12px;
}

.container-form button {
    width: 70%;
    height: 40px;
    margin: 18px auto 0;
    display: block;

    background: #335441;
    color: white;
    border: none;
    border-radius: 42px;
}

.container-dont-have-account{
    text-align: center;
}

@media (max-width: 768px) {

    .container-main-image img {
        width: 200px;
        height: 200px;
    }

    .container-form {
        width: 340px;
        padding: 22px;
    }

    .input-name {
        flex-direction: column;
    }
}